body, html {
    margin:0;
    padding:0;
    position: relative;
  }

 div {
     position: absolute;
     color: whitesmoke;
     left: 100px;
     top: 100px;
     font-size: 40px;
     font-weight: bold;
     width: 80%;
 } 

 @media (max-width: 768px) {
    div {
        position: absolute;
        color: whitesmoke;
        left: 30%;
        top: 100px;
        font-size: 50px;
        font-weight: bold;
    } 
 }
 @media (max-width: 425px) {
    div {
        position: absolute;
        color: whitesmoke;
        left: 150px;
        top: 100px;
        font-size: 70px;
        font-weight: bold;
    } 
 }